@use '../../styles/variables' as vars;

.switcher {
  border: none;
  display: flex;
  padding: 1rem 1.5rem;
  gap: 1rem;

  @media (min-width: vars.$desktop-breakpoint) {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 0;
  }

  svg {
    width: 24px;
    height: 24px;
    border-radius: 999em;
  }

  .switcher-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    border: none;
    color: vars.$color-secondary;
    padding: 0.25rem 0;

  @media (min-width: vars.$desktop-breakpoint) {
    color: vars.$color-nav-text;
  }

    span {
      padding: 0 0.5rem;
    }

    &.active {
        border-bottom: 1px solid vars.$color-secondary;
    }
  }
}
