@use './styles/_variables' as vars;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: vars.$font-primary;
  background-color: vars.$color-bg;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}
